<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashish.login_form">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Teacher.login">

        </activity>
        <activity android:name=".Teacher.MainActivity" />
        <activity android:name=".Teacher.profile" />
        <activity android:name=".Student.StudentList.InsertStudent.new_student_entry" />
        <activity android:name=".Student.StudentList.student_list" />
        <activity android:name=".Student.StudentList.Profile.student_profile" />
        <activity android:name=".Books.issue_book" />
        <activity android:name=".Books.add_books" />
        <activity android:name=".Books.book_list" />
        <activity android:name=".first_screan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>>
        <activity android:name=".search_student_account"></activity>
    </application>

</manifest>